footer {
    margin-top: 10vmax;
    padding: 2vmax;
    background-color: rgb(34, 33, 33);
    color: white;
    display: flex;
    align-items: center;
}
.leftFooter {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftFooter > p {
    text-align: center;
}

.leftFooter > img {
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}

.midFooter {
   width: 60%;
   text-align: center;
}

.midFooter > h1 {
    font-size: 4vmax;
    color: red;
}

.rightFooter {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .rightFooter > h4 {
    font-size: 1.4vmax;
    text-decoration: underline;
}